// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


label {
    margin-bottom: 0 !important;
}

.v-application p {
    margin-bottom: 0 !important;
}

.row {
    width: 60% !important;
    position: relative !important;
    margin: 20px auto !important;
}

button {
    width: 100%;
}

.header {
    background-color:#a89f8f;
    border-radius: 3px;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding: 18px 0;
    text-align: center;
}

h6 {
    color: white;
    margin-bottom: 0 !important;
    display: inline;
    font-weight: bold;
}

.deliveryimage {
    max-width: 35px;
}

.product-image {
    max-width: 60px;
}

.product {
    display: flex;
    padding-top: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #9fc2c3;
    border-bottom-style: dashed;
}

.price {
    margin-left: auto;
    padding-right: 7px;
    font-weight: bold;
}

.product-about {
    padding-left: 10px;
}

.product-name {
    font-weight: bold;
}

.sum {
    display: flex;
    font-weight: bold;
    font-size: 20px;
}

.sum-partial {
    display: flex;
}

.amount {
    margin-left: auto;
}

.amounts {
    padding: 7px;
    
    border-bottom-style: dashed;
}

.v-textarea {
    padding-top: 10px;
}

.v-textarea.v-text-field--solo {
    padding-top: 14px !important;
}

.checkbox-summary .v-label{
    font-size: 11px;
}

.checkbox-summary{
    margin-top: 0px !important;
}

.order-message {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.acc-question {
    font-size: 11px;
    padding-top: 7px;
    text-align: center;
}

.confirmation-btn{
    height: 55px !important;
    color: #fff !important;
}

.shipping-address {
    margin-top: 0px !important;
    padding-top: 0px !important;
}

.deliver-value {
    font-weight: bold;
    font-size: 14px;
}

.deliver-name, .payment-name {
    font-size :14px;
    padding-left: 5px;
}

.order {
    border: 7px solid #41a145;
    border-radius: 15px;
    padding: 40px;
}

.image {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.details {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 2px solid #41a145;
    border-bottom: 2px solid #41a145;
}

.client-names {
    width: 50%;
}

.client-address {
    width: 49%;
}

h1 {
    padding-bottom: 20px;
    text-align: center;
}

.prices {
    padding-top: 20px;
}

.pad {
    padding-left: 8px;
}

h4 {
    text-align: right;
    color: #41a145;
    font-size: 30px;
    font-weight: bold;
}

.v-application {
    font-family: "Nunito", sans-serif !important;
    line-height: 1.5;
}

.v-application--is-ltr .v-card__actions>.v-btn.v-btn+.v-btn {
    margin-left: 0px !important; 
}

.v-card__actions {
    display: block !important;
}

.v-dialog>.v-card>.v-card__text {
    padding: 40px 24px 0px !important;
}


@media only screen and (max-width: 992px) {
    
    .row {
        width: 70% !important;
    }

    .order-message {
        padding: 5px !important;
    }
}
