// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

label {
    margin-bottom: 0 !important;
}

.v-application p {
    margin-bottom: 0 !important;
}

.row {
    width: 60% !important;
    position: relative !important;
    margin: 20px auto !important;
}

button {
    width: 100%;
}

.header {
    background-color:#a89f8f;
    border-radius: 3px;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding: 18px 0;
    text-align: center;
}

h6 {
    color: white;
    margin-bottom: 0 !important;
}

.deliveryimage {
    max-width: 35px;
}

.product-image {
    max-width: 60px;
}

.product {
    display: flex;
    padding-top: 15px;
    padding-bottom: 7px;
    border-bottom: 1px solid #9fc2c3;
    border-bottom-style: dashed;
}

.price {
    margin-left: auto;
    padding-right: 7px;
    font-weight: bold;
}

.product-about {
    padding-left: 10px;
}

.product-name {
    font-weight: bold;
}

.sum {
    display: flex;
    font-weight: bold;
}

.sum-partial {
    display: flex;
}

.amount {
    margin-left: auto;
}

.amounts {
    padding: 7px;
    border-bottom: 1px solid #9fc2c3;
    border-bottom-style: dashed;
}

.v-textarea {
    padding-top: 10px;
}

.v-textarea.v-text-field--solo {
    padding-top: 14px !important;
}

.checkbox-summary .v-label{
    font-size: 11px;
}